html,body{margin:0;padding:0;height:100%}
body > .body-container{font-family:'微软雅黑';position:relative;min-height:100%;height:auto !important;height:100%}
body .page-container{padding-top:40px;padding-bottom:90px}
a,a:link{cursor:pointer}
table tfoot th,table tbody th{border-top:1px solid #ddd}
.navbar .gotop,.navbar .gobottom{color:#808080}
.navbar .gotop{padding-left:20px}
.navbar .gobottom{padding-left:10px}
.navbar .gotop:hover,.navbar .gobottom:hover{color:#fff}
.footer{position:absolute;bottom:0;width:100%;height:50px;text-align:center;padding:10px 0;border-top:1px solid #e5e5e5;background-color:#f5f5f5}
.footer p{margin-bottom:0;color:#777}
.footer-links{margin:10px 0}
.footer-links li{display:inline;padding:0 2px}
.footer-links li:first-child{padding-left:0}
body > .navbar{font-size:13px}
body > .navbar .brand{padding:0 0 0 0;margin-left:20px;float:right;font-weight:bold;color:#000;text-shadow:0 1px 0 rgba(255,255,255,0.1),0 0 30px rgba(255,255,255,0.125);-webkit-transition:all .2s linear;-moz-transition:all .2s linear;-webkit-transition:all .2s linear;-moz-transition:all .2s linear;-o-transition:all .2s linear;-ms-transition:all .2s linear;transition:all .2s linear}
body > .navbar .brand:hover{text-decoration:none;text-shadow:0 1px 0 rgba(255,255,255,0.1),0 0 30px rgba(255,255,255,0.4)}
@media (max-width: 767px){body > .body-container{padding-top:0}
body .page-container{margin:-20px -20px 0 -20px}
}.navbar form{float:right}
.navbar .nav-item-home{font-weight:bold}
.duoshuo{margin:20px 100px 20px 100px}
